<header class="header">
	<div class="header__global">
	  <div class="container">
		<div class="row mb-4">
		  <div class="col-md-6 header__global__site-logo-wrapper mb-3 mb-lg-0">
			<h1>
			  <a class="site-logo" href="/">ecosyste.ms</a>
			</h1>
		  </div>
		  <div class="col-md-6 text-md-end">
			  <a class="header__global__menu-link" role="button" aria-expanded="false" aria-controls="header__global__menu" data-bs-toggle="collapse" href="#header__global__menu">All services <svg width="12" height="12" class="bi bi-caret-down-fill" viewBox="0 0 16 16" fill="currentColor" version="1.1" aria-hidden="true"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"></path></svg></a>
		  </div>
		</div>
		
		<div id="header__global__menu" class="header__global__menu collapse" style="">
		  <div class="header__global__menu__category">
			<h2 class="header__global__menu__category-title">Data</h2>
			<ul class="header__global__menu__category-links">
				<li>
				  <a href="https://packages.ecosyste.ms" target="_blank" class="">
					Packages
				  </a>
				</li>
				<li>
				  <a href="https://repos.ecosyste.ms" target="_blank" class="">
					Repositories
				  </a>
				</li>
				<li>
				  <a href="https://advisories.ecosyste.ms" target="_blank" class="">
					Advisories
				  </a>
				</li>
			</ul>
		  </div>
		  <div class="header__global__menu__category">
			<h2 class="header__global__menu__category-title">Tools</h2>
			<ul class="header__global__menu__category-links">
				<li>
				  <a href="https://parser.ecosyste.ms" target="_blank" class="">
					Dependency Parser
				  </a>
				</li>
				<li>
				  <a href="https://resolve.ecosyste.ms" target="_blank" class="">
					Dependency Resolver
				  </a>
				</li>
				<li>
				  <a href="https://sbom.ecosyste.ms" target="_blank" class="">
					SBOM Parser
				  </a>
				</li>
				<li>
				  <a href="https://licenses.ecosyste.ms" target="_blank" class="">
					License Parser
				  </a>
				</li>
				<li>
				  <a href="https://digest.ecosyste.ms" target="_blank" class="">
					Digest
				  </a>
				</li>
				<li>
				  <a href="https://archives.ecosyste.ms" target="_blank" class="">
					Archives
				  </a>
				</li>
				<li>
				  <a href="https://diff.ecosyste.ms" target="_blank" class="">
					Diff
				  </a>
				</li>
				<li>
				  <a href="https://summary.ecosyste.ms" target="_blank" class="">
					Summary
				  </a>
				</li>
			</ul>
		  </div>
		  <div class="header__global__menu__category">
			<h2 class="header__global__menu__category-title">Indexes</h2>
			<ul class="header__global__menu__category-links">
				<li>
				  <a href="https://timeline.ecosyste.ms" target="_blank" class="">
					Timeline
				  </a>
				</li>
				<li>
				  <a href="https://commits.ecosyste.ms" target="_blank" class="">
					Commits
				  </a>
				</li>
				<li>
				  <a href="https://issues.ecosyste.ms" target="_blank" class="">
					Issues
				  </a>
				</li>
				<li>
				  <a href="https://sponsors.ecosyste.ms" target="_blank" class="">
					Sponsors
				  </a>
				</li>
				<li>
				  <a href="https://docker.ecosyste.ms" target="_blank" class="">
					Docker
				  </a>
				</li>
				<li>
				  <a href="https://opencollective.ecosyste.ms" target="_blank" class="">
					Open Collective
				  </a>
				</li>
			</ul>
		  </div>
		  <div class="header__global__menu__category">
			<h2 class="header__global__menu__category-title">Applications</h2>
			<ul class="header__global__menu__category-links">
				<li>
				  <a href="https://funds.ecosyste.ms" target="_blank">
					Funds
				  </a>
				</li>
			</ul>
		  </div>
		  <div class="header__global__menu__category">
			<h2 class="header__global__menu__category-title">Experiments</h2>
			<ul class="header__global__menu__category-links">
				<li>
				  <a href="https://ost.ecosyste.ms" target="_blank" class="">
					OST
				  </a>
				</li>
				<li>
				  <a href="https://papers.ecosyste.ms" target="_blank" class="">
					Papers
				  </a>
				</li>
				<li>
				  <a href="https://awesome.ecosyste.ms" target="_blank" class="">
					Awesome
				  </a>
				</li>
				<li>
				  <a href="https://ruby.ecosyste.ms" target="_blank" class="">
					Ruby
				  </a>
				</li>
			</ul>
		  </div>
	  </div>
	  </div>
	</div>
  
	<div class="header__local pt-3">
	  <div class="container">
		<div class="row">
		  <div class="col-lg-3 col-md-4">
			<h1 class="h3 header__local__sitename">
			  <a class="header__local__homelink" href="/">
				Blog
			  </a>
			</h1>
		  </div>
		  <div class="col-lg-5 col-md-8">
			<p class="header__local__description">
			  
			</p>
		  </div>
		  <div class="col-lg-4 col-md-12">
			  <nav class="header__local__navigation">
				  <ul class="nav">
					<li class="nav-item">
					  <a class="nav-link" href="/" target="_blank">Home</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="https://ecosyste.ms/">About</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="mailto:hello@ecosyste.ms">Contact</a>
					</li>
				  </ul>
				</nav>
		  </div>
		</div>
	  </div>
	</div>
  </header>